<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.videotoimages">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <!--        <activity-->
        <!--            android:name="com.yalantis.ucrop.UCropActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->
        <activity
            android:name=".activity.PhotoDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SlideshowMakerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChooseVideoFolderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PlayVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>